button:hover{
    transform: scale(1.04);
}

.answer.correct {
  background: #2ecc71;
  color: white;
}

.answer.wrong {
  background: #e74c3c;
  color: white;
}

.answers{
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.jokers{
  display: flex;
  margin: 10px;
  gap: 10px;
}