button:hover{
    transform: scale(1.04);
    background-color: #1d5124;
}

.answer.correct {
  background: #2ecc71;
  color: white;
}

.answer.wrong {
  background: #e74c3c;
  color: white;
}

.game-questions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answers{
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 400px;
}

.jokers{
  display: flex;
  margin: 10px;
  gap: 10px;
}