#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.level-list{
  position: absolute;
  right: 10%;   
  top: 15%;    
  width: 260px;  
}
